body {
  text-align: center;
  background-color: #f2e9e4;
  font-family: "Barlow Condensed", sans-serif;
  color: #22223b;
  margin: 0;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}
h2,
h3 {
  font-family: "Shadows Into Light", cursive;
  color: #9a8c98;
  padding-top: 35px;
}

p {
  padding-bottom: 50px;
  line-height: 2rem;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
hr {
  border-style: none;
  border-top-style: dotted;
  height: 0;
  width: 12%;
  border-width: 12px;
  border-top-color: #c9ada7;
}

.cloudpicture1 {
  position: absolute;
  left: 250px;
}

.cloudpicture2 {
  position: absolute;
  right: 250px;
}

.contact {
  margin-bottom: 75px;
}

#zach-and-jaime {
  width: 300px;
  height: 400px;
}

a {
  font-family: "Shadows Into Light", cursive;
  color: #9a8c98;
  text-decoration: none;
}

.skill1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.skill2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.footer-link {
  margin: auto 10px;
}

footer {
  background-color: #4a4e69;
  padding-top: 50px;
  padding-bottom: 10px;
}

.btn {
  background: linear-gradient(to bottom, #4a4e69 5%, #9a8c98 100%);
  background-color: #4a4e69;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
.btn:hover {
  background: linear-gradient(to bottom, #9a8c98 5%, #c9ada7 100%);
  background-color: #9a8c98;
}
.btn:active {
  position: relative;
  top: 1px;
}

#bear-friend-gif {
  width: 200px;
  height: 200px;
}
